.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-section {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-section label {
    margin-right: 10px;
}

.input-section input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.input-section button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.resultado-titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.resultado {
    display: none;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.resultado p {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.resultado img {
        max-width: 100%;
        height: auto;
        display: block; 
        margin: 0 auto; 
}
